.uk-navbar-container {
    background-color: #1e87f0 !important;
}

.header {
    box-sizing: border-box;
    border-bottom: 1px #e5e5e5 solid;
}
.content-padder {
    margin-left: 0px;
}
.content-background {
    min-height: calc(100% - 80px);
    background-color: #F0F0F0;
}
.statistics-text {
    font-size: 25px;
}
.statistics-number {
    font-size: 50px;
}

.tm-sidebar-left {
    position: fixed;
    z-index: 100;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 240px !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow-y: auto;
	overflow-x: hidden;
}
.tm-sidebar-left::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.tm-sidebar-left::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.tm-sidebar-left::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bdbdbd;
}

.tm-sidebar-right {
    position: absolute;
    top: 0;
    left: calc(100% + 0px);
    width: 200px
}
@media(max-width: 960px) {
    .tm-sidebar-left {
        opacity: 0;
    }
}

@media (min-width: 960px) {
    .content-padder {
        margin-left: 240px;
    }
}
@media (min-width: 1200px) {
    .tm-sidebar-right {
        left: calc(100% + 0px);
    }
    .tm-sidebar-left+.tm-main {
        padding-left: 40px;
        opacity: 0 !important;
    }
}
@media (min-width: 1400px) {
    .tm-sidebar-left {
        width: 300px !important;
        padding: 45px 45px 60px 45px
    }
    .tm-sidebar-right {
        left: calc(100% + 60px)
    }
    .tm-sidebar-left+.tm-main {
        padding-left: 40px
    }
    .content-padder {
        margin-left: 300px;
    }
}


.jobs{
  font-family: arial;
}

.description-block {
    border-top: 1px solid #dee5eb;
    min-height: 70px;
    overflow: hidden;
    width: 100%;
    font-size: 0;
    position: absolute;
    bottom: 0;
    right:0

}
.description-block .time{
    font-size: .6125rem;
    border-right: 1px solid #dee5eb;
    /*border-bottom: 1px solid #dee5eb;*/
    text-align: center;
    color: rgba(85, 104, 115, .72);
    text-transform: uppercase;
    line-height: .5625rem;
    font-weight: 700;
    float: left;
    padding: 0 5px;
    width: 25%;
    height:100px
}
.description-block .time .hours {
    padding-top: 12px;
    display: block;
    margin-bottom: 6px;
    text-align: center;
    color: #002f49;
    font-weight: 700;
    font-size: 1.1375rem;
    line-height:.875rem
}

.description-block .skills, .description-block .places {
    font-size: .65625rem;
    width: 75%;
    float: right;
    position: relative;
    background: 0 0;
    border-bottom: 1px solid #dee5eb;
    color: #71787d;
    padding: 5px 35px 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .525px;
    line-height: .6875rem;
    min-height:35px;
    padding-bottom:15px;
}
div .card_ {
  margin: 20px;
  width: 350px;
  height: 370px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  display: inline-block;
}
div .card_ .thumb {
  width: auto;
  height: 50px;
  border-radius: 3px;
  background-size: 300% 100%;


}
div .card_ .thumb i{
    font-size: 30px;
    color: white;
    padding: 10px;
    padding-left: 20px;
}
div .card_ .thumb span{
    color: white;
    padding: 10px
}

div .card_ .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
 background: #fff;
}
div .card_ .infos .title {
  height: 150px;
  position: relative;
  margin: 10px 0;
  color: #152536;
  font-size: 1.2rem;
  text-shadow: 0 0 0px #32577f;
  overflow: scroll;
}


div .card_ .infos .date, div .card_ .infos .company {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: .85rem;
  color: rgba(21, 37, 54, 0.7);
}
div .card_ .infos .company {
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
div .card_:hover {
  transform: scale(1.05);
}

.card_:hover{
   cursor: pointer;
}
.card_:hover .thumb{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}


@media screen and (max-width: 1300px) {
  .jobs{
    
    padding-left: 30px;
  }
}

@media screen and (max-width: 1300px) {
  .jobs{
  width: 900px;
    margin: auto;
    padding-left: 60px;

  }
}

@media screen and (max-width: 900px) {
  .jobs{
    width: 900px;
    margin: auto;
    padding-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  .skills_block{
    margin-left: 20px;
  }
  .skills_block .circle{
  margin-right: 100px;
    
  }
  .jobs{
    padding-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .skills_block{
    margin-left: 20px;
  }
  .skills_block .circle{
  margin-right: 50px;
    
  }

  .jobs{
    width: 600px;
    padding-left: 100px;
  }
}
@media screen and (max-width: 600px) {
  .skills_block{
    margin-left: 0px;
  }
  .skills_block .circle{
  margin-right: 20px;
    
  }

.jobs{
  padding-left: 40px;
}

  }

@media screen and (max-width: 500px) {
  .title_1{
    font-size: 20px;
  }
  .title_2{
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  .flex{
    display: block;
  }
  .skills_block{
    width: 200px;
    margin: auto;
  }

  .skills_block .circle{
    margin-bottom:80px;
  }
  .jobs{
    width: 600px;
    padding-left: 30px;
  }
}


.skill1{   background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);}
    
.skill2{ background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);}
    
.skill3{ background: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);}

.skill4{background: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);}

.skill5{ background: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);}
    
.skill6{background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);}

.skill7{background: linear-gradient(90deg, rgba(99,58,180,1) 12%, rgba(170,93,93,1) 50%, rgba(176,253,29,1) 99%);}

.skill8{ background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);}
    
.skill9{background: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);}


